In [1]:
import pandas as pd
from sklearn.datasets import load_linnerud
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from pickle import dump

In [2]:
# Loading data wtih features and targets reversed

y, X = load_linnerud(return_X_y = True, as_frame = True)

In [3]:
X.head()

   Weight  Waist  Pulse
0   191.0   36.0   50.0
1   189.0   37.0   52.0
2   193.0   38.0   58.0
3   162.0   35.0   62.0
4   189.0   35.0   46.0

In [4]:
y.head()

   Chins  Situps  Jumps
0    5.0   162.0   60.0
1    2.0   110.0   60.0
2   12.0   101.0  101.0
3   12.0   105.0   37.0
4   13.0   155.0   58.0

In [5]:
y = y['Situps']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

model.predict(X_test)

model.score(X_test, y_test)

dump(model, open('linnerud_situps.sav', 'wb'))